name: build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v4
      - run: ./gradlew build koverXmlReport --scan
      - uses: actions/upload-artifact@v4
        with:
          name: reports
          path: dikt/build/reports
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOVTOKEN }}
          files: ./dikt/build/reports/kover/xml/report.xml
